.alder5 {
	background: #B88448;
}
.alder6 {
	background: #B88448;
}
.alder7 {
	background: #B88448;
}
.alder8 {
	background: linear-gradient(#B88448, #43B02A);
}
.alder9 {
	background: #43B02A;
}
.alder10 {
	background: linear-gradient(#43B02A, #00A9E0);
}
.alder11 {
	background: #00A9E0;
}
.alder12 {
	background: linear-gradient(#00A9E0, #E35205);
}
.alder13 {
	background: #E35205;
}
.alder14 {
	background: #E35205;
}
.alder15 {
	background: linear-gradient(#E35205, #CE0058);
}
.alder16 {
	background: #CE0058;
}
.alder17 {
	background: #CE0058;
}
.alder18 {
	background: #CE0058;
}
